body, html {
    padding: 0;
    margin: 0;
    width: 100%;  
    height: 100%;
    font-size: 16px;
    font-weight: 400;
    font-family: "Lato", sans-serif;
    color: #666;
    line-height: 1.8em;
    text-align: center;
}



#container{
    display: flex;
    width: auto;
    height: 100vh;
}



#pic-1 {
    display: flex;
    background: url("./images/Image1.jpg");
    /* width:100% ; */
    height: 100vh;
    min-height: 100vh;
    justify-content: center; 
    align-items: center;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    opacity: 0.70;
    
}

#text1 {
    display:flex;
    color: white;
    width:100%;
    font-size: 27px;
    letter-spacing: 8px;    
    /* border: 1px solid black;   */
    padding: 20px 0px 20px 40px;
    background-color: rgba(0, 0, 0);
}

#pic-2 {
    display: flex;
    background: url("./images/Image2.jpg");
    /* width:100vw ; */
    height: 70vh;
    justify-content: center;
    align-items: center;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    opacity: 0.70;
}
#text2 {
    display:flex;
    color: white;
    /* width:100%; */
    font-size: 27px;
    letter-spacing: 8px;      
}

#pic-3 {
    display: flex;
    background: url("./images/Image3.jpg");
    /* width:100vw ; */
    height: 70vh;
    min-height: 400px;
    justify-content: center; 
    align-items: center;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    opacity: 0.70;
}

#text3 {
    display:flex;
    color: white;
    width:100%;
    font-size: 27px;
    letter-spacing: 8px;       
}

#pic-4 {
    display: flex;
    background: url("./images/Image1.jpg");
    width:100vw ;
    height: 100vh;
    /* min-height: 100%; */
    justify-content: center; 
    align-items: center;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    opacity: 0.70;
}

#text4 {
    display:flex;
    color: white;
    width:100%;
    font-size: 27px;
    letter-spacing: 8px;   
    padding: 20px 0px 20px 40px;
    background-color: rgba(0, 0, 0);
}

.section-1 {
    display: block;
    /* margin: 10px; */
    padding: 50px 80px;
}
.section-2 {    
    padding: 50px 80px;
    background-color: #282e34;
    color: #ddd;
}

@media screen and (max-width: 568px) {
    #text1, #text2, #text3, #text4 {
      font-size: 13pt;
    }

      .section-1, .section-2 {
        font-size: 10pt;
    }    
    
    #pic-1, #pic-2, #pic-3, #pic-4 {
        background-attachment: scroll;
    }
  }